@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}

.MuiPaper-rounded {
  /* box-shadow: 0 8px 32px 0 rgba(14, 18, 71, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  border-radius: 10px;
}

body {
  background: #1a202c;
  color: white;
}

